body {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #fff;
    background: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
    width: 435px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    //overflow: hidden;

    .slider {
        &--inside {
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            height: 200px;
            position: relative;
            //overflow: hidden;
            padding: 2px;
            border: #666 solid 1px;

            img {
                position: absolute;
                //opacity: 0;
                width: 300px;
                height: 200px;
                //transition: 0.5s ease all;
                //right: 300px;
                // &:first-child {
                //     opacity: 1;
                // }
            }

            .one {
                position: absolute;
                left: 2px;
                display: inline-block;
                opacity: 1;
                transition: 1s ease all;
            }
        }
        &--outside {
            position: relative;
        }
        &--init {
            img {
                //opacity: 1;
                font-size: 14px;
            }
        }
        &--inside-two {
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            height: 200px;
            position: relative;
            overflow: hidden;
            padding: 2px;
            border: #666 solid 1px;
        }
    }

    &--inside-three {
        position: relative;
        width: 435px;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    .prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 100;
    }

    .next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 100;
    }
}
